#__bs_notify__
  display none!important

/// *** FONTS *** ///
.title
  &--h1
    font($font, $regular, '5.4rem', '6rem')
  &--h2
    font($font, $regular, '3rem', '3.5rem')
  &--h3
    font($font, $regular, '2.4rem', '3rem')
  &--h4
    font($font, $regular, '1.6rem', '1.8rem')
  &--h5
    font($font, $regular, '1.4rem', '2.6rem')

.text
  &--18
    font($font, $regular, '1.8rem', '2.6rem')

  &--16
    font($font, $regular, '1.6rem', '2rem')

  &--14
    font($font, $regular, '1.4rem', '2rem')

@media $mobile
  //-
