/// *** fonts **** ///
  $font = 'ObjectSans', sans-serif;
  $fontAlt = 'Roboto Mono', monospace;


  $ultraBold = 900
  $bold = 700
  $medium = 500
  $regular = 400
  $light = 300
  $ultraLight = 200
  $thin = 100

/// *** container **** ///
  $containerWidth = 120rem

/// *** grid *** ///

  $colCount = 14

  $colGapDesktop = 3rem
  $colGapTablet = 1.6rem


/// *** indents *** ///

  $indent-mobile = 4rem 2rem
  $indent-tablet = 2rem 3rem
  $indent-desktop = 4rem 3rem
  $indent-xl = 4rem 0


/// *** media **** ///
  $mobile = 'screen and (max-width: 767px)'
  $tablet = 'screen and (min-width: 768px) and (max-width: 1023px)'
  $mobile-tablet = 'screen and (max-width: 1023px)'
  $tablet-desktop = 'screen and (min-width: 768px)'
  $desktop = 'screen and (min-width: 1024px)'
  $desktop = 'screen and (min-width: 1024px)'
  $xl = 'screen and (min-width: 1920px)'


/// *** colors **** ///
  $white = #FFFFFF
  $black = #000000
  $gray = #CCCCCC
  $mikes-pink = #F20080


  $lime = #59c45a

/// *** transition *** ///

  $tColor = color 200ms ease-out


/// *** animation *** ///
  $ease-fast =  cubic-bezier(1.000, 0.000, 0.000, 1.000)
  $ease = cubic-bezier(0.77, 0, 0.175, 1)
  $elastic = cubic-bezier(0, 1.4, 1, 1)
