mixindescription()

.description
  

  h2.tittle 
    text-align center
    text-transform uppercase
    color $lime
    font-size 2.8rem
    margin-top 10rem
    font-family 'Modak', cursive
    
    &:after 
      border none
      display flex
      border-bottom 2px solid #c2c2c2
      content ' '
      width 22rem
      margin-left 55rem
      margin-top 1.6rem
  .line
    border none 
    display flex  
    border-bottom 4px solid #59c45a
    content ' '
    width 7rem
    margin -0.3rem 0rem 0rem 62.6rem
    position absolute
  .image__show__wrapper
    display flex
    margin 5rem 0rem 0rem 1rem
    .image__second,
    .image__fourth
      margin-top 4rem
    .content
      width 36rem
      margin -23rem 0rem 0rem 30rem
      padding 2rem
      text-align justify
      line-height 2rem
      h4
        margin-bottom 1.5rem
	  
  .col_1
    .col_1__header
      h4.header
        text-align center
        margin-left 20rem  
      


mixindescription()